@model IEnumerable<eSportsBettingSystem.Data.Models.Match>
@{
    ViewBag.Title = "eSportsBetting";
}

<header class="clearfix">
    <h1>Matches</h1>
</header>

<div class="sub-header">
    <button type="button" class="btn btn-primary btn-sm active">Next 24 hours</button>
</div>
<br />

<table class="table">
    <tr>
        <th>Start Date</th>
        <th>Match</th>
        <th>Match Type</th>
        <th>Market</th>
        <th>Odd</th>
        <th>Odd</th>
        <th>Odd</th>
    </tr>

    @foreach (var match in Model)
    {
        foreach (var bet in match.Bets)
        {
            if (@bet.Name.Contains("Match Winner"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => match.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => match.MatchType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bet.Name)
                    </td>
                    @foreach (var odd in bet.Odds)
                    {
                        <td>
                            <div>@odd.Name</div>
                            <a>@odd.Value</a>
                        </td>
                    }
                    <td></td>
                </tr>
            }
        }
    }
</table>

@section scripts {
    <script src=”~/Scripts/jquery-1.10.2.js”></script>
    <script src=”~/Scripts/jquery.signalR-2.2.1.js”></script>
    <script src=”~/signalr/hubs”></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.connection.hub.logging = true;
        $.connection.hub.start();

        var matches = $.connection.matchesHub;

        matches.client.updateMatches = function () {
            getAllUpdates()
        };

        $.connection.hub.start().done(function () {
            getAllUpdates()

            setInterval(function () {
                var date = new Date();
                matches.client.currentTime(date.toString());
            }, 60000);
        })
    });

    function getAllUpdates() {
        $.ajax({
            url: 'Home/Index',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        })
    };
</script>